@import url('reset.css');

body {
	color: rgba(0,0,0,0.7);
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 18px;
	line-height: 1.75em;
}

h1, h2, h3 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}
/*
h1, h2, h3 {
	margin-top: 1em;
}

h1, h2, h3 {
	margin-bottom: .8em;
}
*/
p {
	margin-bottom: .8em;
}

a {
	color: #CC1919;
}

ol, ul {
	list-style-type: decimal;
	padding-left: 2em;
	margin-bottom: 0.8em;
}

b, strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

dt {
	font-weight: bold;
	margin-top: .8em;
}

.masthead {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 40rem;
	padding: 3em 0;
	background: url(../img/snooseboulevard1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
  background-size: cover;
	color: white;
	opacity: .3;
}


.masthead h1 {
  font-size: 2em;
}
.masthead1 {
	position: relative;
	width: 100%;
	height: 50%;
	min-height: 40rem;
	padding: 3em 0;
	background: url(../img/harvey-and-bernstein-002.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
  	background-size: cover;
  	color: white;
}


.masthead1 h1 {
  font-size: 2em;
}
.centered {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
}


/*
header {
	width:100%;
	height:400px;
	background-image:url(snooseBoulevard1.jpg);
	vertical-align:top;
	padding-top: 1em;
}
*/

aside {
	width:25%;
	float:left;
	margin-right: 1em;
}

.right {
	width:25%;
	float:right;
	margin-left: 1em;
}

aside .left {
	width:25%;
	float:left;
	margin-right: 1em;
}

aside img{
	max-width:100%;
}

i {
	font-style:italic;
}

sub{
	vertical-align:sub;
	font-size:.8em;
	text-align:center;
}

.song p {
	font-style: italic;
	white-space: pre;
}

#nav li{
	text-align:center;
	display:inline-block;
	font-size:20px;
	margin-top: 0.8em;
	padding:10px;
}

#wrapper {
	margin: 0 auto;
	width: 40em;
}

.pic {
	margin:0 auto;
	max-width:100%;
}
/*
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}



ol, p, table, ul {
	margin-bottom: .8em;
}

/* measure
p {
	max-width: 60em;
}

/* links
a {
	text-decoration: underline;
}

a:hover {
	color: red;
	cursor: pointer;
}


/* tablesth, td {
	padding: .2em 1em;
}

table {
	border-collapse: separate;
}
*/
