@import url('reset.css');
@import url('hamburger.css');

 /* MOBILE FIRST */

/* Typography */
body {
	color: rgba(0,0,0,0.7);
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 18px;
	line-height: 1.75em;
}
a {
	color: #CC1919;
}
h1, h2, h3, nav,
.site-header {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-weight: bold;
	margin-bottom: .3em;
}
/*h1 {
	font-size: 1.4em;
}*/
h2 {
	font-size: 32px;
	margin-top: 1em;
}
b, strong {
	font-weight: bold;
}
cite, em, figure, i,
.song {
	font-style: italic;
}

/* Layout */
#wrapper {
	box-sizing: content-box;
	max-width: 740px;
	padding: 0 1.75em;
}
p {
	margin-bottom: .8em;
}

figure {
	display: block;
	font-size: .85em;
	padding: 1em 0;
	text-align: center;
}
figure img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/* Lists */
dl, ol, ul {
	padding-left: 1em;
	margin-bottom: 0.8em;
}
dt {
	font-weight: bold;
	margin-top: .8em;
}
li {
	margin-bottom: .3em;
}

/* Branding */
#hero-header {
	background: url(../img/snooseboulevard1.jpg) no-repeat center;
	background-size: cover;
	background-attachment: scroll;
	padding: 5vh 1.75em;
	position: relative;
}
/* dim background image to make white type visible */
#hero-header:before {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "\020";
	background: linear-gradient(rgba(0,0,0,.15) 50%,rgba(0,0,0,.45));
	box-shadow:  0 -1px 8px rgba(0,0,0,.2) inset;
}
#masthead {
	color: #fff;
  margin: 2.625em auto;
  max-width: 740px;
  padding-top: .875em;
	position: relative;
	text-align: center;
	word-wrap: break-word;
	z-index: 999;
}

#site-branding {
	margin-bottom: 1.75em;
}
#site-title {
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}
#site-description {
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
}
.menu-toggle {
	background: 0 0;
	border-color: #fff;
	border-radius: 4px;
	border: solid 2px #fff;
	color: #fff;
	display: block;
	font-size: 17px;
	line-height: 1;
	margin: 0 auto;
	padding: .4375em .875em;
	-webkit-font-smoothing:  antialiased;
}

/* Navigation */
nav {
	display: block;
	font-size: 17px;
	line-height: 1.3;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	/*padding-inline-start: 40px;*/
	position: relative;
}
nav a {
	display: block;
	margin-top:  .4375em;
	padding-top:  .4375em;
	position: relative;
}



.right {
/*	width: 25%;
	float: right;
	margin-left: 1em;
*/}

.left {
/*	width: 25%;
	float: left;
	margin-right: 1em;
*/}
